* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0); ;
    color: white;
    height: 100vh;

}

/* NAVBAR */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(165, 163, 163);
    font-size: 1 rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a:hover {
    color: #FF7C00;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logo a img{
    height: 70px;
    width: 70px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toogle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #FF7C00;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: white;
}

.action-btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* INICIO */

.principal {
    display: flex;
    background-color: black;    
}

.saludo {
    width: 60%; 
    padding-top: 120px; 
    padding-left: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #BD6F22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
}

.saludo h1 {
    margin: 50px 0px 0px 50px;
}

.saludo h2 {
    margin: 20px 0px 0px 50px;
}

.imagen {
    width: 30%;
    padding-left: 80px;
}

.sobre {
    text-align: justify; 
    width: 70%; 
    margin-left: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titleProjects {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #BD6F22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 47px;
    letter-spacing: normal;
    padding-bottom: 50px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.proyecto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background: linear-gradient(to right top, #000000, #181717, #282828, #3a3939, #4c4b4b);
    padding: 30px;
    border-radius: 30px;   
    margin: 20px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0px 4px 6px rgba(129, 129, 129, 0.452);
}

.items {
    display: flex;
    flex-direction: row;
    align-content: end;
    align-items: end;   
}

.github {
    margin-bottom: -2px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 10px;          
}

.github:hover {
    transform: scale(1.2);
}

.arrow:hover {
    transform: scale(1.2);
}

.arrow {
    width: 50px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 10px;
}

.proyecto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background: linear-gradient(to right top, #000000, #181717, #282828, #3a3939, #4c4b4b);
    padding: 30px;
    border-radius: 30px;   
    margin: 20px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0px 4px 6px rgba(129, 129, 129, 0.452);
}

.proyecto3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background: linear-gradient(to right top, #000000, #181717, #282828, #3a3939, #4c4b4b);
    padding: 30px;
    border-radius: 30px;   
    margin: 20px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0px 4px 6px rgba(129, 129, 129, 0.452);        
}

.proyecto4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background: linear-gradient(to right top, #000000, #181717, #282828, #3a3939, #4c4b4b);
    padding: 30px;
    border-radius: 30px;   
    margin: 20px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0px 4px 6px rgba(129, 129, 129, 0.452);        
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(189,111,34);
    background: linear-gradient(180deg, rgba(189,111,34,1) 0%, rgba(158,98,38,1) 35%, rgba(0,0,0,1) 100%);
    
}

.contactMe{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right top, #000000, #181717, #282828, #3a3939, #4c4b4b);
    border-radius: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 47px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 41px 5px rgba(125,116,125,1);
    -moz-box-shadow: 10px 10px 41px 5px rgba(125,116,125,1);
    box-shadow: 10px 10px 41px 5px rgba(125,116,125,1);
}

.titleContact {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #BD6F22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 47px;
    letter-spacing: normal;
    padding-bottom: 50px;
}

.contentContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 45.5% ;
    margin: 2.5%;
    color: #ffffff;
    border-radius: 30px;
}

.form input {
    height: 72px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(248, 248, 248);
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 40px;
    outline: none;
    background-color: transparent;
}

#message {
    height: 72px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(248, 248, 248);
    outline: none;
    background-color: transparent;
}

.submit {
    background-color: white;
    padding: 18px 38px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 650ms ease 0s;
    border: 1px solid white;
    width: fit-content;
}

.social {
    display: flex;
    flex-direction: row;
    width: 45.5% ;
    margin: 2.5%;
    background-color: rgba(49, 47, 47, 0.767);
    border-radius: 30px;
}



.github2 {
    width: 10%;
}

.twitter {
    width: 10%;
    height: 10%;
}

.wave-container {  
    height: 40vh;
    background-color: #000000;
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 25vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23df6106'/></svg>");
  }

  footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 65px
    }  
  }

  @media(max-width:992px) {
    .navbar .links, 
    .navbar .action-btn {
        display: none;
    }

    .navbar .toogle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .imagen {
        width: 58%;
        margin-right: 39px;
    }

    .saludo {
        margin-top: 20px;
        padding: 0px;
        width: 65%;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .saludo h1 {
        margin: 0px;
    }

    
    .saludo h2 {
        margin: 0px;
    }

    .proyecto1 {
        width: 90%;
    }

    .proyecto2 {
        width: 90%;
    }

    .proyecto3 {
        width: 90%;
    }

    .proyecto4 {
        width: 90%;
    }

    .contactMe {
        width: 90%;
    }
}
  



  @media(max-width:576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
  }